<mat-card>
    <mat-card-title>Editar Marcação</mat-card-title>
    <mat-card-content>
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Selecione o ID da Marcação</mat-label>
                <mat-select [(ngModel)]="id">
                    <mat-option *ngFor="let marcacao of marcacoes" [value]="marcacao.id">
                        {{marcacao.id}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Selecione o ID do funcionario</mat-label>
                <mat-select [(ngModel)]="funcionarioId">
                    <mat-option *ngFor="let marcacao of marcacoes" [value]="marcacao.funcionario.nome">
                        {{marcacao.funcionario.id}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div>
            <mat-form-field>
                <mat-label for="dataMarcacao">Data Marcação:</mat-label>
                <input matInput type="date" name="dataMarcacao" [(ngModel)]="dataMarcacao" placeholder="Data Marcação">
            </mat-form-field>
        </div>

        <div>
            <mat-form-field>
                <mat-label for="horaEntrada">Hora Entrada:</mat-label>
                <input matInput type="time" name="horaEntrada" [(ngModel)]="horaEntrada" placeholder="Hora Entrada">
            </mat-form-field>
        </div>

        <div>
            <mat-form-field>
                <mat-label for="horaSaidaAlmoco">Hora Saida Almoco:</mat-label>
                <input matInput type="time" name="horaSaidaAlmoco" [(ngModel)]="horaSaidaAlmoco"
                    placeholder="Hora Saida Almoco">
            </mat-form-field>
        </div>

        <div>
            <mat-form-field>
                <mat-label for="horaVoltaAlmoco">Hora Volta Almoco:</mat-label>
                <input matInput type="time" name="horaVoltaAlmoco" [(ngModel)]="horaVoltaAlmoco"
                    placeholder="Hora Volta Almoco">
            </mat-form-field>
        </div>

        <div>
            <mat-form-field>
                <mat-label for="saida">Saida:</mat-label>
                <input matInput type="time" name="saida" [(ngModel)]="saida" placeholder="Saida">
            </mat-form-field>
        </div>

        <button mat-raised-button color="primary" (click)="update()">Atualizar</button>
    </mat-card-content>

</mat-card>