<!-- <table border="5">
    <tr>
        <td>ID</td>
        <td>Nome</td>
        <td>Pis</td>
        <td>Valor Hora</td>
        <td>Data de admição</td>
        <td>Editar</td>
        <td>Remover</td>

    </tr>
    <tr *ngFor="let funcionario of funcionarios">
        <td>{{ funcionario.id }}</td>
        <td>{{ funcionario.nome }}</td>
        <td>{{ funcionario.pis }}</td>
        <td>{{ funcionario.valorHora }}</td>
        <td>{{ funcionario.dataAdm }} </td>
        <td></td>
        <td></td>

    </tr>
</table>
<br> -->

<table mat-table [dataSource]="fonteDados" class="mat-elevation-z8">

    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>#</th>
        <td mat-cell *matCellDef="let funcionario">{{funcionario.id}}</td>
    </ng-container>
    <ng-container matColumnDef="nome">
        <th mat-header-cell *matHeaderCellDef>Nome</th>
        <td mat-cell *matCellDef="let funcionario">{{funcionario.nome}}</td>
    </ng-container>
    <ng-container matColumnDef="pis">
        <th mat-header-cell *matHeaderCellDef>Pis</th>
        <td mat-cell *matCellDef="let funcionario">{{funcionario.pis}}</td>
    </ng-container>
    <ng-container matColumnDef="valorHora">
        <th mat-header-cell *matHeaderCellDef>Valor Hora</th>
        <td mat-cell *matCellDef="let funcionario">{{funcionario.valorHora}}</td>
    </ng-container>
    <ng-container matColumnDef="dataAdm">
        <th mat-header-cell *matHeaderCellDef>Data de admição</th>
        <td mat-cell *matCellDef="let funcionario">{{funcionario.dataAdm}}</td>
    </ng-container>
    <ng-container>
        <th>Excluir</th>
        <td mat-cell *matCellDef="let funcionario"><button (click)="delete(funcionario.pis)">X</button></td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="exibirColunas"></tr>
    <tr mat-row *matRowDef="let row; columns: exibirColunas;"></tr>

</table>