<div class="usu">
    <mat-card *ngFor="let marcacao of marcacoes">
        <mat-card-header>
            <mat-card-title>Nome: {{ marcacao.funcionario.nome }}</mat-card-title>
            <mat-card-subtitle>ID Marcação: {{ marcacao.id}} | Data Marcação: {{ marcacao.dataMarcacao}}
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <div>
                <span>Hora Entrada: </span>
                <span>{{ marcacao.horaEntrada }}</span>
            </div>
            <div>
                <span>Hora Saida Almoco: </span>
                <span>{{ marcacao.horaSaidaAlmoco }}</span>
            </div>
            <div>
                <span>Hora Volta Almoco: </span>
                <span>{{ marcacao.horaVoltaAlmoco }}</span>
            </div>
            <div>
                <span>Hora Saida : </span>
                <span>{{ marcacao.saida }}</span>
            </div>
            <div>
                <br><span>Hora totais trabalhadas no dia : </span>
                <span>{{ marcacao.horasT }}</span>
            </div>
            <div>
                <button mat-fab color="warn" (click)="delete(marcacao.id)">
                    <mat-icon>delete</mat-icon>
                </button>
            </div>
        </mat-card-content>
    </mat-card>
</div>